h3 {
  text-align: center;
 }

.container {
  position: absolute;
  width: 413px;
  height: 552px;
  left: 434px;
  top: 120px;
}
.form{
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #FFF;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.text {
   margin: 10px;
   color:grey;
  }
  .imgEmail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 60px;
    width: 60px;
  }
  .btn {
    display: inline-block; 
    background: #3f51b5;
    color: #fff; 
    padding: 5px 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
   }

.error {
  color: red;
}
