.headerBlock {
  display: flex;
  border: 1px solid;
  justify-content: space-around;
}
h3{
  margin: 40px;
}

.superDoubleRange {
  display: flex;
}

span {
  margin: 5px;
}

.btn {
  display: inline-block; 
  background: #3f51b5;
  color: #fff; 
  padding: 5px 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin-left: 150px;
 }

 .header{ 
  margin: 20px;
  display: flex;
  justify-content: space-around;
 }
  .superDoubleRange  {
   display: flex;
   }
